@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html,
body {
    font-family: "Source Sans Pro", 'Times New Roman', Times, serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    background-color: #333333;
    color: #fffff0;
    margin: 20px 10px 30px 10px;
    cursor: default;
}

html {
    display: flex;
    justify-content: center;
}

body{
    max-width: 900px;
}

a, abbr{
    text-decoration: none;
    color: #3e66ff;
    cursor: pointer;
}

abbr{
    text-decoration: none;
    color: #d400ff;
    cursor: pointer;
    font-weight: bold;
}

strong{
    font-size: 1.1rem;
    color: #ffffe5;
}

h2, h3 {
    color: #ffffe3;
}

input#main-button{
    position: fixed;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    margin: 10px 0 10px 0;
    padding: 0 0 6px 0;
    color: #222222;
    font-size: 25px;
    font-weight: 700;
    background-color: #fffff0;
    border: 2px solid #333333;
    border-radius: 50px;
    box-shadow: 0 0 3px #fffff0;
    cursor: pointer;
    transform: scaleX(-1);
}

input#main-button:hover{
    transform: scale(-1.1, 1.1);
}

input#main-button:active{
    transform: scale(-0.9, 0.9);
    box-shadow: none;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

table * {
    border: 1px solid #fffff0;
    padding: 10px;
}

th{
    font-weight: bold;
}

.th-type{
    width: 25%;;
}

@media (max-width: 630px){
    html,
    body {
        margin: 10px 10px 15px 10px;
    }
}