
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html,
body {
    font-family: "Source Sans Pro", 'Times New Roman', Times, serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    background-color: #333333;
    color: #fffff0;
    margin: 20px 10px 30px 10px;
}

a{
    text-decoration: none;
}

b{
    font-size: 1.1rem;
}